{% extends 'portfolio/base.html' %}

{% block content %}
    
	{% load static %}

<div class="all">
<center>
	<style>
    .btn-igor {
		font-family: Roboto;
		font-size: 18px;
		margin-top: 3px;
	}
    </style>
	
	<form action="{% url 'genpassword' %}">
    <h1 class=" text-success" style="font-family: monospace; font-size: 3rem"> Your password is</h1>
	<h3 class="text-primary text-monospace" style="font-family: monospace;">{{ password }}</h3>
		<button class="btn btn-success btn-large btn-igor">
		Generate Again
		</button>
	</form>
    
</center>
</div>

{% endblock %}